@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto Mono', sans-serif;
  overflow-x: hidden;
}

/* Global */
:root {
  --bg-color: #222327;
  --text-color: #efe8e8;
  --red-color: red;
  --blue-color: blue;
  --green-color: green;
  --yellow-color: yellow;
  --dark-color: #000;
  --grey-color: #d4d4d4;
  --grey-color-1: #929292;
  --breadcrumbs-color: #929292;
  --rating-color: #FDCC0D;
  --btn-color: #b8b8b8;
  --green-color: 	#32CD32;
  --main-color: #5E17EB;
  --body-color: #707070;
  --hover-color: #e9dfdf;
  --light-color: #fff;
  --red-color: rgb(202, 89, 69);
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  --border: .2rem solid rgba(0,0,0,0.1);
  --outline: .1rem solid rgba(0,0,0,0.1);
  --outline-hover: .2rem solid rgba(var(--black));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--light-color);
}

#toolTip {
  cursor: pointer;
}

#tipMid {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  color: var(--light-color);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: none;
  transition: opacity 0.5s ease 0;
  opacity: 0;
}

#tipMid::before {
  content: "";
  visibility: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-top: 16px solid var(--main-color);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 0px solid transparent;
}

#tooltip:hover #tipMid {
  top: -40px;
  visibility: show;
  opacity: 1;
}

hr {
  background-color: var(--grey-color);
  min-width: 90%;
  width: 80%;
}

/* .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1em;
}

.breadcrumbs li {
  font-size: 1.5rem;
  color: var(--breadcrumbs-color);
}

.breadcrumbs li a {
  color: var(--breadcrumbs-color)
}

.breadcrumbs li a:hover {
  color: var(--main-color);
}


/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: var(--light-color);
  border-bottom: 1px solid var(--grey-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3.5em;
}

header .left {
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 4em;
}

header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

header .nav {
  display: flex;
  gap: 3em;
  align-items: center;
}

header .nav li {
  list-style: none;
}

header .nav li a {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--grey-color-1);
  transition: all .3s ease;
}

header .nav li a:hover {
  color: var(--main-color);
}

header .icons {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

header .icons a .icon {
  position: relative;
  min-height: 35px;
  min-width: 35px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: var(--main-color);
  align-items: center;
}

header .icons a:hover .icon {
  background-color: var(--hover-color);
}

header .icons a .icon .item-count {
  position: absolute;
  top: 0;
  right: 2px;
  min-height: 15px;
  min-width: 12px;
  background-color: var(--red-color);
  color: var(--text-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .icons a .icon i {
  font-size: 1.7rem;
}

header .sep {
  font-size: 1.5rem;
}

header .search {
  position: relative;
}

header .search input {
  min-width: 380px;
  border-radius: 2px;
  padding: 0.5em 0.7em;
  font-size: 1.6rem;
  border: 1px solid var(--grey-color);
  background-color: var(--light-color);
}

header .search i {
  display: none;
}

/* User Hamburger */
header .user-pop {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 85px;
  right: -110%;
  max-width: 350px;
  border: 1px solid var(--grey-color-1);
  background-color: var(--light-color);
}

header.user-pop.active {
  right: 0;
}

header .user-pop .user-header {
  padding: 1em;
  display: flex;
  justify-content: right;
  border-bottom: 1px solid var(--grey-color-1);
}

header .user-pop .user-header .exit {
  background-color: transparent;
  border: 1px solid var(--grey-color-1);
  padding: 0.5em 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s ease;
}

header .user-pop .user-header .exit:hover {
  border: 1px solid var(--main-color);
}

header .user-pop .user-header .exit:hover i {
  color: var(--main-color);
}

header .user-pop .user-content {
  padding: 2em;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .user-pop .user-content  p {
  font-size: 1.2rem;
}

header .user-pop .user-content img {
  min-height: 100px;
  width: 60%;
}

header .user-pop .user-content .actions {
  display: flex;
  gap: 1em;
}

header .user-pop .user-content .actions button {
  padding: 0.5em 1em;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s ease;
}

header .user-pop .user-content .actions button:hover {
  color: var(--main-color);
  background-color: var(--light-color);
}

header .user-pop .user-content .actions button:last-child {
  background-color: var(--light-color);
  color: var(--main-color);
}

header .user-pop .user-content .actions button:last-child:hover {
  color: var(--text-color);
  background-color: var(--main-color);
}


/* Categories Hamburger */
header .categories {
  position: fixed;
  top: 80px;
  right: -110%;
  width: 100%;
  box-shadow: var(--box-shadow);
  background-color: var(--light-color);
  padding: 1em 5.5em;
  color: var(--dark-color);
  display: flex;
  font-size: 1.5rem;
  gap: 2em;
}

header .categories.active {
  right: 0;
}

header .categories .vertical-line {
  height: 200px;
  background-color: var(--grey-color);
  width: 2px;
}

header .categories .left {
  flex: 10%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header .categories .left .cate-item {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 1.5rem;
  cursor: pointer;
}

header .categories .left .cate-item:hover {
  color: var(--main-color);
}

header .categories .left .cate-item h3 {
  font-weight: 500;
}

header .categories .right {
  padding: 0.5em;
  flex: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

header .categories .right a {
  color: var(--dark-color);
}

header .categories .right a:hover {
  color: var(--main-color);
}

/* Shopping Cart Hamburger */
.shopping-cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85px;
  right: -110%;
  max-width: 500px;
  box-shadow: var(--box-shadow);
  background-color: var(--light-color);
  padding: 1em;
}

.shopping-cart .shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.8em 0em;
  border-bottom: 1px solid var(--grey-color);
}

.shopping-cart .shopping-cart-header .total {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.shopping-cart .shopping-cart-header .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.shopping-cart .shopping-cart-header .total h5 {
  font-weight: 400;
}

.shopping-cart .shopping-cart-header .total h5:last-child {
  color: var(--main-color);
}

.shopping-cart .shopping-cart-items {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 1em;
}

.shopping-cart .shopping-cart-items .item-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.shopping-cart .shopping-cart-items .item-row .img {
  min-width: 65px;
  min-height: 60px;
  background-color: var(--grey-color);
}

.shopping-cart .shopping-cart-items .item-row .item-details {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.shopping-cart .shopping-cart-items .item-row .item-details .item-name {
  font-size: 1.5rem;
}

.shopping-cart .shopping-cart-items .item-row .item-details .group {
  display: flex;
  gap: 0.8em;
  font-size: 1.3rem;
}

.shopping-cart .shopping-cart-items .item-row .item-details .price {
  color: var(--main-color);
  font-size: 1.5rem;
}

.shopping-cart .shopping-cart-items .item-row .item-details .group .details-group {
  display: flex;
  gap: 0.3em;
  color: var(--grey-color-1);
}

.shopping-cart .actions {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.shopping-cart .actions button {
  flex: 50%;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 0.5em 0.8em;
  color: var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s ease;
}

.shopping-cart .actions button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--main-color);
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero.login {
  display: none;
}

.hero.login .active {
  display: flex;
}

.hero.register {
  display: none;
}

.hero.register .active {
  display: flex;
}

.hero.seller {
  display: none;
}

.hero.seller .active {
  display: flex;
}

.hero .wrapper {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  max-width: 380px;
  border-radius: 2px;
}

.hero .wrapper form {
  display: flex;
  flex-direction: column;
}

.hero .wrapper form .login-header {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
}

.hero .wrapper form .login-header .exit {
  background-color: transparent;
  border: 1px solid var(--grey-color-1);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s ease;
}

.hero .wrapper form .login-header .exit:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.hero .wrapper form .details {
  padding: 1em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero .wrapper form .details .desc {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.hero .wrapper form .details .desc .title {
  font-size: 1.7rem;
}

.hero .wrapper form .details .desc .description {
  font-size: 1.4rem;
  text-align: justify;
  color: var(--grey-color-1);
}

.hero .wrapper form .details .fields {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.hero .wrapper form .details .fields .field {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-size: 1.4rem;
}

.hero .wrapper form .details .fields .group {
  display: flex;
  gap: 1em;
}

.hero .wrapper form .details .fields .field input {
  padding: 0.7em 0.5em;
}

.hero .wrapper form .details .redirect {
  display: flex;
  justify-content: right;
  gap: 0.5em;
  font-size: 1.3rem;
}

.hero .wrapper form .details .redirect a:hover {
  text-decoration: underline;
}

.hero .wrapper form .details .actions {
  display: flex;
}

.hero .wrapper form .details .actions button {
  flex: 100%;
  margin-top: 1.5em;
  padding: 0.8em;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s ease;
}

.hero .wrapper form .details .actions button:hover {
  background-color: transparent;
  color: var(--main-color);
}

/* Landing Page */
.landing-container {
  margin-top: 6em;
  padding: 2em 3.5em;
}

/* Intro */
.landing-container .intro {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.landing-container .intro article {
  min-height: 600px;
  border-radius: 5px;
  flex: 55%;
  background-color: var(--main-color);
}

.landing-container .intro article .top {
  color: var(--text-color);
  padding: 1.5em;
}

.landing-container .intro article .top h1 {
  font-size: 7rem;
  font-weight: 700;
}

.landing-container .intro article .top p {
  margin-top: 3.5em;
  font-size: 1.7rem;
}

.landing-container .intro article  .redirects {
  padding: 1em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.landing-container .intro article  .redirects .links {
  position: relative;
  flex: 50%;
  min-height: 170px;
  border-radius: 5px;
  background-color: var(--grey-color);
  padding: 1em;
  transition: all .3s ease;
}

.landing-container .intro article  .redirects .links:hover h1 {
  color: var(--main-color);
}

.landing-container .intro article  .redirects .links h1 {
  position: absolute;
  color: var(--text-color);
  font-size: 2rem;
  bottom: 15px;
  left: 10px;
}

.landing-container .intro aside {
  position: relative;
  min-height: 600px;
  border-radius: 5px;
  flex: 45%;
  background-color: var(--grey-color);
}

.landing-container .intro aside .links {
  position: absolute;
  padding: 1em 2.5em;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.landing-container .intro aside .links a {
  flex: 50%;
  border: 1px solid var(--light-color);
  padding: 1em 1.5em;
  border-radius: 25px;
  color: var(--dark-color);
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.landing-container .intro aside .links a:hover h4 {
  color: var(--main-color);
}

.landing-container .intro aside .links a:last-child {
  background-color: transparent;
  color: var(--text-color);
}

.landing-container .intro aside .links a:hover .icon {
  background-color: var(--main-color);
}

.landing-container .intro aside .links a h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

.landing-container .intro aside .links .icon {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
}

.landing-container .intro aside .links .icon i {
  font-size: 1.7rem;
}

.landing-container .intro aside img {
  object-fit: cover;
}

/* About */
.landing-container .about {
  margin: 3em 1em;
}

.landing-container .about p {
  font-size: 3.1rem;
  line-height: 48px;
  letter-spacing: 2px;
}

/* Homepage Categories */
.landing-container .home-categories {
  background-color: var(--grey-color);
  border-radius: 5px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5em;
}

.landing-container .home-categories p {
  font-size: 3.5rem;
  color: var(--dark-color);
}

.landing-container .home-categories a {
  background-color: transparent;
  padding: 0.5em 0.8em;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  border-radius: 20px;
  font-size: 1.7rem;
}

.landing-container .home-categories a:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}


/* Shop By Categories */
.shop-categories {
  margin: 3em 0;
}

.shop-categories .header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-categories .header-details h2 {
  font-size: 2.3rem;
}

.shop-categories .header-details a {
  display: flex;
  justify-content: center;
  gap: 1em;
  transition: all .3s ease;
  color: var(--dark-color);
}

.shop-categories .header-details a h3 {
  font-size: 1.7rem;
}

.shop-categories .header-details a:hover {
  color: var(--main-color);
}

.shop-categories .gallery {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.shop-categories .gallery .content-col {
  min-height: 290px;
  padding-top: 1em;
  border-radius: 5px;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.7rem;
  cursor: pointer;
}

.shop-categories .gallery .content-col:hover {
  background-color: var(--hover-color);
  color: var(--dark-color);
}

.divider {
  width: 100%;
  background-color: var(--dark-color);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider p {
  font-size: 1.7rem;
  color: var(--text-color);
}

/* Footer */
footer {
  padding: 2em 3.5em;
}

footer .top {
  display: flex;
  justify-content: space-between;
}

footer .top .group {
  flex: 60%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

footer .top .group .social {
  display: flex;
  gap: 1em;
}

footer .top .group .social .icon {
  cursor: pointer;
  min-height: 32px;
  min-width: 32px;
  border: 1px solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
}

footer .top .group .social .icon i {
  font-size: 2.2rem;
}

footer .top .group .social .icon:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

footer .top .links {
  flex: 40%;
  display: flex;
  gap: 0 12em;
}

footer .top .links .links-col {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

footer .top .links li {
  font-size: 1.9rem;
  color: var(--dark-color);
}

footer .top .links li a {
  font-size: 1.9 rem;
  color: var(--dark-color);
}

footer .bottom {
  margin-top: 9em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .bottom .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .bottom h3 {
  font-size: 1.9rem;
  color: var(--main-color);
}

footer .bottom .group p {
  font-size: 1.7rem;
}

footer .bottom .group h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Shop */
.shop-container {
  display: flex;
  margin-top: 6em;
  padding: 2em 3.5em 0;
  gap: 1em;
}

/* Shop Filter */
.shop-container .filter {
  flex: 18%;
  border: 1px solid var(--grey-color);
  border-top: none;
  border-bottom: none;
}

.shop-container .filter .header-filter {
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  font-size: 1.5rem;
}

.shop-container .filter .categories-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.shop-container .filter .categories-filter li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 0.5em 1em;
  cursor: pointer;
}

.shop-container .filter .bottom-filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.shop-container .filter .bottom-filter h4 {
  font-weight: 500;
}

.shop-container .filter .bottom-filter .filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.shop-container .filter .bottom-filter .filter button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background-color: var(--light-color);
  border: none;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  cursor: pointer;
}

.shop-container .filter .bottom-filter .filter input {
  margin: 0.5em 1.5em;
  padding: 0.7em 1em; 
}

.shop-container .filter .bottom-filter .filter .colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em 2em;
}

.shop-container .filter .bottom-filter .filter .colors .group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.shop-container .filter .bottom-filter .colors .select {
  background-color: transparent;
  border-radius: 15px;
  min-height: 40px;
  min-width: 40px;
  border: 2px solid var(--grey-color);
  padding: 0.2em;
  cursor: pointer;
}

.shop-container .filter .bottom-filter .colors .select:hover {
  border: 2px solid var(--dark-color);
}

.shop-container .filter .bottom-filter .colors .select.red {
  background-color: var(--red-color);
}

.shop-container .filter .bottom-filter .colors .select.blue {
  background-color: var(--blue-color);
}

.shop-container .filter .bottom-filter .colors .select.green {
  background-color: var(--green-color);
}

.shop-container .filter .bottom-filter .colors .select.yellow {
  background-color: var(--yellow-color);
}

.shop-container .filter .bottom-filter .colors .select.white {
  background-color: var(--light-color);
}

.shop-container .filter .bottom-filter .sizes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em 2em;
}

.shop-container .filter .bottom-filter .sizes .select {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.8em;
}

.shop-container .filter .bottom-filter .sizes .select:hover {
  background-color: var(--dark-color);
  color: var(--text-color);
}

/* Shop Products */
.shop-container .products {
  flex: 82%;
  margin: 2em 1em;
}

.shop-container .products .header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-container .products .header-details .title {
  font-size: 2.2rem;
  font-weight: 400;
}

.shop-container .products .header-details .sort {
  display: flex;
  align-items: center;
  gap: 1em;

}

.shop-container .products .header-details .sort button {
  padding: 0.2em 0.8em;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
}

.shop-container .products .header-details .sort button:hover {
  color: var(--main-color);
}

.shop-container .products .header-details .sort button h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

.shop-container .products .header-details .sort button .icon {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--dark-color);
}

.product-grid {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.product-grid .product-col {
  padding: 0.7em;
  border: 1px solid var(--grey-color);
  border-radius: 12px;
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  gap: 0.5em;
  cursor: pointer;
}

.product-grid .product-col:hover {
  border: 1px solid var(--main-color);
}

.product-grid .product-col:hover h4 {
  color: var(--main-color);
}

.product-grid .product-col .top {
  flex: 55%;
  position: relative;
}

.product-grid .product-col .top .img {
  border-radius: 12px;
  min-height: 245px;
  background-color: var(--grey-color);
}

.product-grid .product-col .top .like {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: var(--light-color);
  border-radius: 100%;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-grid .product-col .top .like:hover .fa-heart {
  color: red;
}

.product-grid .product-col .top .like .fa-heart {
  font-size: 1.6rem;
}

.product-grid .product-col .bottom {
  flex: 45%;
  position: relative;
  gap: 1em;
}

.product-grid .product-details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

.product-grid .product-details h4 {
  font-size: 1.5rem;
  text-align: justify;
}

.product-grid .product-details .rating {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--grey-color-1);
}

.product-grid .product-details .rating .fa-star {
  color: var(--rating-color);
  font-size: 1.3rem;
}

.product-grid .product-details .rating h5 {
  font-size: 1.4rem;
  font-weight: 400;}

.product-grid .product-details .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-grid .product-details .price {
  font-size: 1.7rem;
}

.products .pagination {
  margin: 2em 0;
}

.products .pagination .page-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.products .pagination .page-select .select {
  font-size: 1.5rem;
  background-color: var(--grey-color);
  padding: 0.5em 0.9em;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .pagination .page-select .select:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.products .pagination .page-select .select:nth-child(2) {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Products Page */
.products-container {
  margin-top: 6em;
  padding: 2em 3.5em;
}

.products-container .product {
  display: flex;
  min-height: 91.5vh;
}

.products-container .product .product-pic {
  flex: 60%;
  padding: 0 10em;
}

.products-container .product .product-pic .img {
  background-color: var(--grey-color);
  min-height: 100%;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-container .product .product-details {
  flex: 40%;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/* Product Details */
.products-container .product .product-details .details {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.products-container .product .product-details .details .product-title {
  font-size: 3.2rem;
  padding-right: 2em;
}

.products-container .product .product-details .details .group {
  display: flex;
  gap: 1.5em;
  font-size: 1.7rem;
}

.products-container .product .product-details .details .group .rating {
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: var(--rating-color);
}

.products-container .product .product-details .details .group .rating .stars {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.products-container .product .product-details .details .group .rating .value {
  color: var(--dark-color);
}

.products-container .product .product-details .details .group h4 {
  font-weight: 400;
}

.products-container .product .product-details .details .price {
  display: flex;
  align-items: center;
  gap: 1em;
}

.products-container .product .product-details .details .price .discount {
  background-color: var(--green-color);
  padding: 0.2em 0.4em;
  font-size: 1.2rem;
  border-radius: 10px;
  opacity: 0.5;
  border: 1px solid var(--grey-color);
}

.products-container .product .product-details .details .price span {
  font-size: 3.5rem;
  font-weight: 700;
  background-color: transparent;
}

/* Product Options */
.products-container .product .product-details .options {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.products-container .product .product-details .options .group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.products-container .product .product-details .options .group h3 {
  font-size: 1.9rem;
}

.products-container .product .product-details .options .group .sizes {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.products-container .product .product-details .options .group .sizes .size-select {
  padding: 0.2em 0.8em;
  font-size: 1.7rem;
  background-color: transparent;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  cursor: pointer;
}

.products-container .product .product-details .options .group .sizes .size-select:hover {
  color: var(--text-color);
  background-color: var(--dark-color);
}

.products-container .product .product-details .options .group .colors {
  display: flex;
  align-items: center;
  gap: 1em;
}

.products-container .product .product-details .options .group .colors .select {
  background-color: transparent;
  border-radius: 100%;
  min-height: 30px;
  min-width: 30px;
  border: 2px solid var(--grey-color);
  padding: 0.2em;
  cursor: pointer;
}

.products-container .product .product-details .options .group .colors .select:hover {
  border: 2px solid var(--dark-color);
}

.products-container .product .product-details .options .group .colors .select.red {
  background-color: var(--red-color);
}

.products-container .product .product-details .options .group .colors .select.blue {
  background-color: var(--blue-color);
}

.products-container .product .product-details .options .group .colors .select.green {
  background-color: var(--green-color);
}

.products-container .product .product-details .options .group .colors .select.yellow {
  background-color: var(--yellow-color);
}

.products-container .product .product-details .options .group .colors .select.white {
  background-color: var(--light-color);
}

/* Product Description */
.products-container .product .product-details .description {
  width: 90%;
  text-align: justify;
  font-size: 1.7rem;
}

.products-container .product .product-details .actions {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 80%;
}

.products-container .product .product-details .actions button {
  flex: 50%;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 20px;
  padding: 1em 2em;
  border: 1px solid var(--main-color);
  transition: all .3s ease;
}

.products-container .product .product-details .actions button:hover {
  background-color: transparent;
  color: var(--main-color);
}

.products-container .product .product-details .actions button:last-child {
  background-color: transparent;
  color: var(--main-color);
}

.products-container .product .product-details .actions button:last-child:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Product Extra Details */
.products-container .product .product-details .extra-details {
  padding: 1em 0;
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.products-container .product .product-details .extra-details .content-col {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.5rem;
}

.products-container .product .product-details .extra-details .content-col .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  min-width: 35px;
  border-radius: 100%;
  background-color: var(--grey-color);
}

.products-container .product .product-details .extra-details .content-col h3 {
  font-weight: 500;
}

/* Checkout Page */
.checkout-container {
  margin-top: 8em;
  padding: 2em 3.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.checkout-container form {
  display: flex;
  gap: 3em;
}

/* Delivery Information & Payment Method*/
.checkout-container .checkout-details {
  flex: 70%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.checkout-container .checkout-details .info .header {
  border-bottom: 1px solid var(--grey-color);
  padding: 2em;
}

.checkout-container .checkout-details .info {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.checkout-container .checkout-details .info .fields {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-container .checkout-details .info h1 {
  font-weight: 400;
}

.checkout-container .checkout-details .info .field {
  display: flex;
  gap: 0.8em;
  flex-direction: column;
}

.checkout-container .checkout-details .info .field label {
  font-size: 1.7rem;
}

.checkout-container .checkout-details .info .field input {
  padding: 1em;
  border: 1px solid var(--grey-color);
}

.checkout-container .checkout-details .info .group {
  display: flex;
  gap: 1em;
}

.checkout-container .checkout-details .info .group .field {
  flex: 50%;
}

/* Order Summary */
.checkout-container .order-summary {
  flex: 30%;
  border: 1px solid var(--grey-color);
  border-radius: 2px;
}

.checkout-container .order-summary .header {
  border-bottom: 1px solid var(--grey-color);
  padding: 2em;
}

.checkout-container .order-summary .header h1 {
  font-weight: 400;
}

.checkout-container .order-summary .item-col {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-container .order-summary .item-col .item-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.checkout-container .order-summary .item-col .item-row .img {
  flex: 24%;
  background-color: var(--grey-color);
  border-radius: 2px;
  height: 110px;
  width: 100%;
}

.checkout-container .order-summary .item-col .item-row .details {
  flex: 76%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.checkout-container .order-summary .item-col .item-row .details .name {
  font-size: 1.4rem;
  width: 90%;
}

.checkout-container .order-summary .item-col .item-row .details .group {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--grey-color-1);
  font-size: 1.4rem;
}

.checkout-container .order-summary .item-col .item-row .details .price {
  font-size: 1.9rem;
  color: var(--main-color);
}

.checkout-container .order-summary .cost {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-container .order-summary .cost .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.checkout-container .order-summary .cost button {
  margin: 2em 0;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 1.5em 1.5em;
  color: var(--text-color);
  border-radius: 40px;
  cursor: pointer;
  transition: all .3s ease;
}

.checkout-container .order-summary .cost button:hover {
  background-color: transparent;
  color: var(--main-color);
}

/* Profile Page */
.profile-container {
  margin-top: 6em;
  padding: 2em 3.5em;
}

.profile-details {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.profile-details .profile-pic {
  background-color: var(--grey-color-1);
  min-width: 160px;
  min-height: 160px;
  border-radius: 100%;
}

.profile-details .name {
  display: flex;
  align-items: center;
  gap: 1em;
}

.profile-details .name {
  font-size: 2.2rem;
  font-weight: 800;
}

.profile-details .email {
  font-size: 1.7rem;
}

.profile-actions {
  margin: 0 3em;
}

.profile-actions .selectors {
  display: flex;
  gap: 3em;
  border-bottom: 1px solid var(--grey-color-1);
  padding: 1.5em 0;
}

.profile-actions .selectors li {
  font-size: 1.9rem;
  color: var(--dark-color);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-actions .selectors li .count {
  color: var(--grey-color-1);
}

.profile-container .product-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Seller Profile */
.seller-profile {
  margin-top: 6em;
  padding: 2em 3.5em 0;
  display: flex;
  gap: 3em;
}

/* Seller Sidebar */
.seller-profile .side-bar {
  flex: 15%;
  border-right: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
}

.seller-profile .side-bar .title {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.7em 1em;
  color: var(--dark-color);
  border-bottom: 1px solid var(--grey-color);
}

.seller-profile .side-bar .title .name {
  font-size: 1.8rem;
}

.seller-profile .side-bar .title i {
  font-size: 1.6rem;
}

.seller-profile .side-bar .options {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
  padding-left: 3.5em;
}

.seller-profile .side-bar .options li {
  font-size: 1.5rem;
}

.seller-profile .side-bar .options li a {
  color: var(--grey-color-1);
}

.seller-profile .side-bar .options li a:hover {
  color: var(--main-color);
}

/* Add Product */
.seller-profile .sell-container {
  margin: 4em 1em;
  flex: 85%;
  border: 1px solid var(--grey-color);
}

.seller-profile .sell-container .header-details {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
}

.seller-profile .sell-container .header-details .title {
  font-size: 2rem;
  font-weight: 400;
}

.seller-profile .product-details {
  padding: 1em 1.5em;
} 

.seller-profile form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.seller-profile form .field {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.seller-profile form .group.custom .field {
  flex: 70%;
}

.seller-profile form .group.custom .field:last-child {
  flex: 30%;
}

.seller-profile form .field label {
  font-size: 1.7rem;
}

.seller-profile form .field input.no-padding {
  padding: 0;
}

.seller-profile form .field input {
  padding: 1em;
}

.seller-profile form .group {
  display: flex;
  gap: 1em;
}

.seller-profile form select {
  padding: 1em 0.5em;
}

.seller-profile form .extra-group {
  display: flex;
}

.seller-profile form .colors {
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.seller-profile form .colors .select {
  display: flex;
  align-items: center;
  gap: 1em;
}

.seller-profile form .colors .select span {
  font-size: 1.7rem;
}

.seller-profile form .sizes {
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.seller-profile form .sizes .select {
  display: flex;
  align-items: center;
  gap: 1em;
}

.seller-profile form .sizes .select span {
  font-size: 1.7rem;
}

.seller-profile form .actions {
  display: flex;
  justify-content: right;
}

.seller-profile form .actions button {
  padding: 0.5em 1em;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  font-size: 1.5rem;
}

.seller-profile form .actions button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}